{
  "name": "{{ openstack_environment }}",
  "description": "",
  "cookbook_versions": {
  },
  "json_class": "Chef::Environment",
  "chef_type": "environment",
  "default_attributes": {
    "horizon": {
      "theme": "{{ dashboard_theme }}"
    },
    "package_component": "{{ openstack_release }}"
  },
  "override_attributes": {
    "openssh": {
      "server": {
        "Subsystem": "sftp    /usr/libexec/openssh/sftp-server"
      }
    },
    "hardware" : {
      "install_oem": false
    },
    "monitoring" : {
      "metric_provider" : "collectd",
      "procmon_provider" : "monit"
    },
    "mysql": {
      "allow_remote_root": true,
      "root_network_acl": "%",
      "tunable": {
        "log_queries_not_using_index": false
      }
    },
   "keystone": {
      "tenants": [
         "admin",
         "service",
{% if tenants %}
{% for tenant in tenants %}
         "{{ tenant }}"{% if not loop.last %},
{% endif %}
{% endfor %}
{% else %}
         "local-tenant",
{% endif %}
      ],
      "users":{
         "admin": {
            "password": "{{ openstack_admin_password }}",
            "roles":{
               "admin": [
                  "admin"
               ]
            }
         }
      },
      "admin_user": "admin"
   }, 
    "osops": {
      "apply_patches": true
    },
    "developer_mode": false,
    "glance": {
      "api": {
{% if default_store %}
        "default_store": "{{ default_store }}"
{% endif %}
      },
      "images": [
{% for image in glance_images %}
         "{{ image }}"{% if not loop.last %},
{% endif %}
{% endfor %}
      ],
      "image_upload": false
    },
    "nova": {
      "config": {
        "ram_allocation_ratio": {{ ram_ratio }},
        "cpu_allocation_ratio": {{ cpu_ratio }},
        "start_guests_on_host_boot": {{ autostart|lower() }},
        "resume_guests_state_on_host_boot": {{ resume_state|lower() }},
        "use_single_default_gateway": false
      },
      "network": {
{% if fixed_range %}
        "fixed_range": "{{ fixed_network }}",
{% endif %}
        "public_interface": "{{ mgmt_dev }}",
        "multi_host": true,
        "dmz_cidr": "{% if dmz_cidr %}{{ dmz_cidr }}{% else %}10.128.0.0/24{% endif %}"
      },
      "networks": [
{% for label, network in networks.items() %}
        {
          "num_networks": "{% if network['num_networks'] %}{{ network['num_networks'] }}{% else %}1{% endif %}",
          "bridge": "{{ network['bridge'] }}",
          "label": "{{ label }}",
          "bridge_dev": "{{ network['bridge_dev'] }}",
          "dns1": "{{ network['dns_server1'] }}",
          "dns2": "{{ network['dns_server2'] }}",
          "network_size": "{{ network['network_size'] }}",
          "ipv4_cidr": "{{ network['ipv4_cidr'] }}"
        }{% if not loop.last %},
{% endif %}
{% endfor %}
      ]
    },
    "osops_networks": {
      "management": "{{ mgmt_ipv4_cidr }}",
      "nova": "{{ mgmt_ipv4_cidr }}",
{% for label in networks %}
      "{{ label }}": "{{ networks[label]['ipv4_cidr'] }}"{% if not loop.last %},
{% endif %}
{% endfor %}
    }
  }
}