DEVICE="{{ device }}:{{ networks[item]['vlan'] }}"
VLAN="yes"
ONBOOT="yes"
BOOTPROTO="none"
NM_CONTROLLED="no"
BRIDGE="{{ networks[item]['bridge'] }}"
IPADDR="{{ networks[item]['ipv4_prefix'] }}.{{ ansible_hostname[-1] }}"
NETWORK="{{ networks[item]['ipv4_prefix'] }}.0"
NETMASK="{{  networks[item]['netmask'] }}"
BROADCAST="{{ networks[item]['ipv4_prefix'] }}.255"